.hover {
    transition: var(--transition-micro-medium);
    
    &:hover {
        transform: translateY(-8px);
        
        .image {
            transform: scale(1.05);
        }
    }
}

.image {
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}